[submodule "stm32-ros-bernard-node"]
	path = stm32-ros-bernard-node
	url = https://github.com/Baey/stm32-ros-bernard-node.git
[submodule "bernard-rl"]
	path = bernard-rl
	url = https://github.com/Baey/BERNARD-RL
